<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <li class="nav-item ">
      <a class="nav-link active btn text-light fa fa-video-camera" routerLink="/"> PELICULAS</a>
      <a class="nav-link active btn text-light fa fa-home" routerLink="/home" *ngIf="isLogin"> INICIO </a>
      <a class="nav-link active btn text-light fa fa-upload" *ngIf="isLogin" routerLink="/peliculas">   SUBE TU PELICULA </a>
    </li>


    <ul class=" nav navbar-nav navbar-right">
      <div class="row">
        <li class="nav-item  ml-3" *ngIf="!isLogin">
          <a class="nav-link active btn text-light fa fa-user" routerLink="/login"> Iniciar sesion Usuario</a>
        </li>

        <li class="nav-item  ml-3" *ngIf="!isLogin">
          <a class="nav-link active btn text-light fa fa-user" routerLink="/login"> Iniciar sesion Administrador</a>
        </li>
        
        <li class="nav-item  ml-3" *ngIf="!isLogin">
          <a class="nav-link  text-light fa fa-address-book" routerLink="/register"> Registrarse</a>
        </li>

        <li class="nav-item ml-3" *ngIf="isLogin">
          <a class="nav-link  text-light fa fa-window-close-o " routerLink="" (click)="onclickLogout()"> Cerrar sesion</a>
        </li>
      </div>
    </ul>
  </div>
</nav>