<!-- <div class="col-6 offset-3  font-weight-bold shadow-lg p-3 mb-5 bg-white rounded">
  

  <div class="form-group">
    <label>Email address</label>
    <input type="email" class="form-control" [(ngModel)]="login.email" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" [(ngModel)]="login.password" placeholder="Password">
  </div>

  <button type="submit" class="btn btn-primary btn-lg btn-block " (click)="register()">Registrar usuario</button>

</div> -->

<div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <div class="card bgcard">
        <div class="card-body">
          <h1 class="text-center bgcolor">REGISTRO</h1>
          <div>
            <div class="form-group">
              <label class="bgcolor"> Nombre completo:  </label>
              <input type="email" class="form-control" [(ngModel)]="login.name" placeholder="Ingresa tu Nombre" >
            </div>
            <div class="form-group">
              <label class="bgcolor">Telefono: </label>
              <input type="email" class="form-control" [(ngModel)]="login.phone" placeholder="Ingresa tu Telefono ">
            </div>
            <div class="form-group">
              <label class="bgcolor" for="Email ">Email: </label>
              <input type="email" class="form-control" [(ngModel)]="login.email" placeholder="Ingresa tu Email">
            </div>
            <div class="form-group">
              <label class="bgcolor" for="Email">Contraseña: </label>
              <input type="password" class="form-control" [(ngModel)]="login.password" placeholder="Ingresa tu Contraseña">
              <small class="form-text text-muted bgcolor">La Contraseña debe tener mas de 6 caracteres</small>
            </div>
            <div class="justify-content-center">                
              <button type="button" class="btn btn-primary btn-lg btn-block btn btn-outline-light" (click)="register()">REGISTRARSE</button>
              <button type="button" class="btn btn-secundary btn-lg btn-block btn btn-outline-light" routerLink="/">MENU PRINCIPAL</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>