<div>
    <div class="container">
        <div class="col">
            <div class="col-md text-light ml-3 ">
                <div class="mt-5 form-group text-light text-center">
                    <h1>Crear Peliculas</h1>
                </div>

                <div class="form-group text-light">
                    <label>Nombre</label>
                    <input type="text" class="form-control" placeholder="Ingresar el nombre de la Pelicula" [(ngModel)]="pelicula.maker">
                </div>
                <div class="form-group text-light">
                    <label>Descripción</label>
                    <textarea class="form-control" rows="3" [(ngModel)]="pelicula.description"></textarea>
                </div>
                <div class="form-group text-light">
                    <label>Url de la imagen</label>
                    <input type="text" class="form-control" placeholder="Ingresar la url de la imagen" [(ngModel)]="pelicula.img">
                </div>
                <div class="row-md-10">
                    <button type="button" class="btn btn-primary btn-lg btn-block btn-outline-light " (click)="validateStatusButton()">{{textButton}}</button>
                    <button type="button" class="btn btn-secondary btn-lg btn-block btn-outline-light " (click)="cancelVehicle()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <br>

    <h1 class="text-center text-light"> Mis Peliculas</h1>
    <div class="album py-5">
        <div class="container ">
            <div class="row ">
                <div class="col-md-6 " *ngFor="let pelicula of peliculas | async">
                    <div class="card mb-3 shadow-sm">
                        <img class="card-img-top" data-src="{{pelicula.img}}" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
                            src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22226%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20226%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16780a71b0e%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16780a71b0e%22%3E%3Crect%20width%3D%22348%22%20height%3D%22226%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.71875%22%20y%3D%22120.678125%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                            data-holder-rendered="true">
                        <div class="card-body">
                            <p class="card-text">{{pelicula.maker}}</p>
                            <p class="card-text">{{pelicula.description}}</p>
                            <div class="align-items-center">
                                <div>
                                    <button type="button" class="btn btn-outline-primary btn-lg" (click)="getVehicle(pelicula.id)">Editar</button>
                                    <button type="button" class="btn btn-outline-secondary btn-lg" (click)="deleteVehicle(pelicula.id)">Eliminar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>