<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card bgcard">
      <div class="card-body">
        <h1 class="text-center bgcolor">LOGIN</h1>
        <div>
          <div class="form-group">
            <label class="bgcolor" for="Email ">Email: </label>
            <input type="email" id="user" class="form-control" placeholder="Ingresa tu Email" [(ngModel)]="login.email">
          </div>
          <div class="form-group">
            <label class="bgcolor" for="Email">Contraseña: </label>
            <input type="password" id="password" class="form-control" placeholder="Ingresa tu Contraseña" [(ngModel)]="login.password">
          </div>
          <div class="justify-content-center">
            <button type="button" class="btn btn-primary btn-lg btn-block btn-outline-light " (click)="signIn()">INICIAR SESION</button>
            <button type="button" class="btn btn-secundary btn-lg btn-block btn btn-outline-light" routerLink="/">MENU PRINCIPAL</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

