.style{
    text-align: center;
    color: blue;
}


.example-icon {
    padding: 0 14px;
  }
  
.example-spacer {
    flex: 1 1 auto;
  }

.toolbar{
    background-color: transparent;
}

.bg-menu{
     background-color: white;
}
.logo-home{
    margin-top: 15px;
    width: 100px;
    height: 60px;
}

.btn{
    margin-left: 45%;
    margin-top: 18%;
    width: 200px;
}

.img-logo{
    margin-top: 5%;    
}

