@import "~bootstrap/dist/css/bootstrap.min.css"; 
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~font-awesome/css/font-awesome.min.css";


body{
    background-image: url('https://images4.alphacoders.com/786/thumb-1920-78678.jpg');
    min-width: 100%;
    min-height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}